/*PRODUTOS*/
body{
  margin: 0;
  padding: 0;
  background-color: #00688e;
  box-sizing: border-box;
}
p{
  text-align: justify;
}
.product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.product-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0px 6px 8px #00000080;
}
.product-gallery img {
  width: 70%;
  border-radius: 8px;
  text-align: center;
}

.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbs img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
}
.product-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00688e;
}
.product-info h1 {
  margin-bottom: 10px;
}

.price {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}

.option {
  margin: 20px 0;
}

.options {
  display: flex;
  gap: 10px;
}
.size-option {
  padding: 8px 14px;
  border: 2px solid #777;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 8px;
  font-weight: 600;
  transition: 0.2s;
}

.size-option.selected {
  border: 2px solid #fff;
  background: #000; /* opcional */
  color: #fff;
}

.opt {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ccc;
}

.color-option.selected {
  border: 2px solid #fff;
}


/* cores exemplo (você troca depois) */
.c1 { background: #000; }
.c2 { background: #777; }
.c3 { background: #1f8f6b; }
.c4 { background: #ffcc00; }
.c5 { background: #8e44ad; }
.c6 { background: #e74c3c; }

.qty {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.qty input {
  width: 60px;
  text-align: center;
}

.buy-btn {
  width: 50%;
  padding: 14px;
  background: #fff;
  color: #000;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 6px 8px #00000080;
}

.benefits {
  margin-top: 20px;
  list-style: none;
}
.detalhes_produto{
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ccc;
}
footer{
  background-color: #00f;
}

.size-options button,
.color-option {
  border: 2px solid transparent;
  cursor: pointer;
}

.size-options button.active,
.color-option.active {
  border: 2px solid #fff;
}


/* RESPONSIVO */
@media (max-width: 768px) {
  .product-wrapper {
    grid-template-columns: 1fr;
  }
}